<!doctype html>
<html>
<head>
  <title>Madlibs</title>
</head>
<body>

<form action="/madlib">

  <label for="person">Person</label><input type="text" name="person">
  <br>
  <label for="noun">Noun</label><input type="text" name="noun">
  <br>
  <label for="color">Color</label><input type="text" name="color">
  <br>
  <label for="adjective">Adjective</label><input type="text" name="adjective">
  <br>
  <label for="date">Date</label><input type="date" name="date">
  <br>
  <p>Select a duck:</p>

    <div>
      <input type="radio" id="huey" name="duck" value="Huey">
      <label for="huey">Huey</label>
    </div>

    <div>
      <input type="radio" id="dewey" name="duck" value="Dewey">
      <label for="dewey">Dewey</label>
    </div>

    <div>
      <input type="radio" id="louie" name="duck" value="Louie">
      <label for="louie">Louie</label>
    </div>
    
    <p>Choose your duck's personality:</p>

    <div>
      <input type="checkbox" id="grumpy" name="personality" value="grumpy">
      <label for="grumpy">Grumpy</label>
    </div>

    <div>
      <input type="checkbox" id="sleepy" name="personality" value="sleepy">
      <label for="sleepy">Sleepy</label>
    </div>

    <div>
      <input type="checkbox" id="sweet" name="personality" value="sweet">
      <label for="sweet">Sweet</label>
    </div>

    <div>
      <input type="checkbox" id="annoying" name="personality" value="annoying">
      <label for="annoying">Annoying</label>
    </div>

    <div>
      <input type="checkbox" id="silly" name="personality" value="silly">
      <label for="silly">Silly</label>
    </div>


  <input type = "submit" value = "submit">

</form>
</body>
</html>
